<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="hr-api">
    <system.web>
      <httpHandlers>
        <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
      </httpHandlers>
    </system.web>
    <!-- Required for IIS7 -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="180" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <customErrors mode="Off" />
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <appSettings>
    <add key="MONGOTEST_URI" value="mongodb://liebre:liebre@ds039000.mongolab.com:39000/liebre" />
    <add key="SOME_API_KEY" value="XYZ123" />
    <add key="ConexionGestionProyectos" value="server=ITPOR-IRD\PRUEBAS;database=IRDCOL;integrated security=true;" />
  </appSettings>
</configuration>